<div class="container col-md-7">
    <hr>
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Create Person</h3>
            <div class="card-body">
                <form [formGroup]="control">
                    
                    <div class="form-group">
                        <label for="">Full Name:</label>
                        <br/>
                        <input class="form-control" formControlName="fullName"  id="fullName" name="fullName" type="text" placeholder="Full Name" required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="start">Birth:</label>
                        <br/>
                        <input class="form-control" formControlName="birth"   name="birth" type="date" id="birth"  value="1990-01-01" min="1970-01-01"
                            max="2021-12-30"    form required>
                    </div>
                    <hr>
                    <button (click)="Save()" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
